<div class="dashboard-container">
  <h2 class="dashboard-heading">Student Dashboard</h2>

  <div class="dashboard-table-wrapper">
    <table class="dashboard-table">
    <thead class="dashboard-table-header">
      <tr>
        <th>Full Name</th>
        <th>Email</th>
        <th>School</th>
        <th>Admission Year</th>
        <th>Level</th>
        <th>LG Origin</th>
        <th>LG Resident</th>
        <th>Phone</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each data}}
      <tr class="dashboard-table-row">
        <td data-label="Full Name">{{name}}</td>
        <td data-label="Email">{{email}}</td>
        <td data-label="School">{{school}}</td>
        <td data-label="Admission Year">{{admission_year}}</td>
        <td data-label="Level">{{school_level}}</td>
        <td data-label="LG Origin">{{lg_origin}}</td>
        <td data-label="LG Resident">{{lg_resident}}</td>
        <td data-label="Phone">0{{phone}}</td>
        <td data-label="Actions">
          <div class="dashboard-action-buttons">
            <a href="/submissions/{{id}}" class="btn-edit">View</a>
            {{!-- <button class="btn-delete">Delete</button> --}}
          </div>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>

   <div class="dashboard-pagination">
    <button class="pagination-button"><i class="fas fa-angle-double-left"></i></button>
    {{#times total}}
    <div class="pagination-number">{{this}}</div>
    {{/times}}

    <button class="pagination-button"><i class="fas fa-angle-double-right"></i></button>
  </div>
  </div>
</div>